.card-container {
  justify-content: center;
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.5s;
  animation: ease-in-out;
}

.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}

.image-container {
  overflow: hidden;
  margin-top: 0.5rem;
  margin-bottom: 0;
  /* background-color: rgb(14, 13, 13); */
  /* height: 200px; */
}

.image-container img {
  display: block;
  /* margin: auto; */
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: auto;
}

.card-content {
  margin: 1rem;
  margin-top: 0.5rem;
}

h3,
p {
  margin: 0;
  padding: 0;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-body {
  margin-top: 0;
  justify-content: end;
}

.btn {
  display: flex;
  justify-content: start;
  margin: 0;
}

.btn button {
  padding: 0.5rem;
  background-color: white;
  border: none;
  transition: 0.2s;
  display: flex;
  /* margin-bottom: 0.5rem; */
}

.btn button:hover {
  background: rgba(27, 156, 252, 0.1);
}

a {
  text-transform: uppercase;
  color: rgb(26, 207, 189);
  text-decoration: none;
  font-weight: bold;
}
